[report]
omit =
    */src/presenters/interfaces/*
    */src/util/mantid/__init__.py
    */src/util/mantid/mantid_algorithms.py
    */src/workspace/base.py
    */src/models/workspacemanager/file_io.py
    */src/models/workspacemanager/rebose_algorithm.py
    */src/models/projection/powder/make_projection.py
    */src/models/projection/powder/projection_calculator.py
    */src/models/slice*
    */src/models/cut/cut_algorithm.py
    */src/models/labels.py
    */src/models/colors.py
show_missing = True
