[run]
include =
   src/mslice/presenters/*
   src/mslice/models/*
   src/mslice/scripting/*
   src/mslice/workspace/*
   src/mslice/util/mantid/*
   src/mslice/plotting/globalfiguremanager.py

omit =
   src/mslice/presenters/interfaces/*
   src/mslice/util/mantid/__init__.py
   src/mslice/util/mantid/mantid_algorithms.py
   src/mslice/workspace/base.py
   src/mslice/scripting/__init__.py
   src/mslice/models/workspacemanager/file_io.py
   src/mslice/models/workspacemanager/rebose_algorithm.py
   src/mslice/models/projection/powder/make_projection.py
   src/mslice/models/projection/powder/projection_calculator.py
   src/mslice/models/slice*
   src/mslice/models/cut/cut_algorithm.py
   src/mslice/models/labels.py
   src/mslice/models/colors.py

[report]
fail_under=85
show_missing=true
