[report]
omit =
    */mslice/presenters/interfaces/*
    */mslice/util/mantid/__init__.py
    */mslice/util/mantid/mantid_algorithms.py
    */mslice/workspace/base.py
    */mslice/models/workspacemanager/file_io.py
    */mslice/models/workspacemanager/rebose_algorithm.py
    */mslice/models/projection/powder/make_projection.py
    */mslice/models/projection/powder/projection_calculator.py
show_missing = True
