default_language_version:
  python: python3

ci:
  autofix_prs: true

repos:

  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: .patch$
      - id: check-added-large-files
        args: ['--maxkb=4096']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [ python, pyi ]
        args: [ --fix, --exit-non-zero-on-fix, --extend-ignore, F401 ]
        exclude: src/mslice/plotting/pyplot.py
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
