[Desktop Entry]
Version=1.0
Type=Application
Name=PyMSlice
GenericName=PyMSlice
Comment=Slice data from Mantid
TryExec=mslice
Exec=mslice %F
Categories=Science;Qt;
Icon=mslice
Terminal=false
StartupNotify=true
MimeType=text/x-python;